.Editor {
  display: flex;
  gap: 10px;
}
.Editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(192, 230, 255);
  border-radius: 30px;
}
.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  border-radius: 50px;
  background-color: rgb(148, 212, 255);
  color: white;
}
